<ng-container *ngIf="events$ | async as events">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let event of events.content; let last = last" [class.last-item]="last">
        <th><div class="circle" [ngClass]="event.kind == 'in' ? 'green' : 'red'"></div></th>
        <td>{{ event.date | date: 'dd/MMM' }}</td>
        <td>{{ event.value | currency }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.reference }}</td>
        <td><fa-icon class="pointer green-icon" [icon]="['fa', 'pencil-alt']" (click)="edit(event)"></fa-icon></td>
        <td><fa-icon class="pointer red-icon" [icon]="['fa', 'trash-alt']" (click)="delete(event)"></fa-icon></td>
        <!-- TODO: Check notes relevance -->
      </tr>
    </tbody>
  </table>

  <!-- Transfer params received from server to pagination component -->
  <app-pagination
    [currentPage]="events.number + 1"
    [totalPages]="events.totalPages"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>

  <app-confirm-modal></app-confirm-modal>
</ng-container>
